<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/admin/general_pages.css" rel="stylesheet" />
<link href="~/css/announce/announcematchroomdetails.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@model CourtConnect.ViewModel.Announce.AnnounceDetailsViewModel

@{
    ViewData["Title"] = "Match Details";
}

<div class="match-container">
    <div class="player-card host">
        <img src="~/images/player1.png" class="player-img" alt="Player 1" />
        <h2>@Model.HostFullName</h2>
        <p>Club: @Model.HostClub</p>
        <p>Level: @Model.HostLevel</p>
        <p>Puncte: @Model.HostRank</p>
    </div>

    <div class="vs-card">
        <h2>VS</h2>
        <p> @Model.LocationDetails </p>
        <p><strong>Start Date:</strong> @Model.StartDate</p>

        @if (Model.ConfirmGuest && Model.ConfirmHost)
        {
            <p class="text-success"><strong>Meci Confirmat!</strong></p>
        }
        else
        {
            @if (!Model.ConfirmGuest && !Model.IsHost)
            {
                <form method="post" action="/Announce/ConfirmGuest">
                    <input type="hidden" name="announceId" value="@Model.Id" />
                    <button type="submit" class="btn-play btn-primary">Joacă</button>
                </form>
            }
        }

    </div>

    <div class="player-card guest">
        <img src="~/images/player1.png" class="player-img" alt="Player 2" />
        <h2>@Model.GuestFullName</h2>
        <p>Club: @Model.GuestClub</p>
        <p>Level: @Model.GuestLevel</p>
        <p>Puncte: @Model.GuestRank</p>
    </div>
</div>


